.App {
  text-align: center;
}

.ui.card {
  margin-left: auto;
  margin-right: auto;
}

body > div,
body > div > div,
body > div > div > div.ui.container {
  height: 100%;
}

.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url] {
  font-size: 16px;
}

@media screen and (max-width: 992px) {

  #dashboard button {
    margin-bottom: 1em;
  }

  .ui.list {
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  .ui.list .list {
    padding-left: 0;
  }

  .ui.list .floated {
    margin-bottom: 1em;
  }

  .ui.list .list>.item [class*="left floated"], .ui.list>.item [class*="left floated"] {
    margin-right: 0;
  }

  .ui.list .list>.item [class*="right floated"], .ui.list>.item [class*="right floated"] {
    margin-left: 0;
  }

  .ui.center {
    height: auto !important;
  }
}